<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="body-profile">
<nav th:replace="fragments/common :: nav"></nav>

<main class="p-5 align-content-center bg-blur my-register-div">
    <div th:object="${profile}" class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card p-3 py-4">
                    <div class="text-center mt-3">
                        <th:block th:if="*{picture!=null}">
                            <img th:src="*{getPicture()}" width="100" class="rounded-circle">
                        </th:block>
                        <th:block th:if="*{picture == null}">
                            <img th:src="@{/images/profile.webp}" width="100" class="rounded-circle">
                        </th:block>

                    </div>

                    <h5 th:text="|Full name:| + ' ' + |*{firstName}| + ' ' + |*{lastName}|"
                        class=" text-center mt-4 mb-0">Full
                        name</h5>
                    <h5 th:text="|Username:| + ' ' + |*{username}|" class="text-center mt-2 mb-0">Username</h5>
                    <h5 th:text="|Email:| + ' ' + |*{email}|" class="text-center mt-2 mb-0">Email</h5>
                    <div class="px-4 mt-5">
                        <p class="fonts">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim et nostrum
                            optio perferendis quam quod ratione rem sit soluta ut! A dolor laborum, maiores neque
                            nesciunt quis rerum sunt suscipit. </p>
                    </div>
                    <ul class="social-list">
                        <li><i class="fab fa-facebook-square"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                        <li><i class="fab fa-linkedin"></i></li>
                        <li><i class="fab fa-google"></i></li>
                    </ul>
                    <div class="buttons d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <a th:href="@{/users/profile/update}" class="btn btn-outline-primary px-4">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

</body>
</html>